{% load currency_filters %}

<a href="{% url "cars:detail" car.id %}" class="card-link text-decoration-none">
    <div class="card h-100">
        <img class="card-img-top img-fluid" src="{{ car.urlpic }}" alt="Model {{ car.id }}">
        <div class="card-body">
            <p class="card-title">{{ car.brand }} {{ car.model }} {{ car.year }}</p>
            <p>
                {{ car.fuel_type }} | {{ car.transmission }}
                <br>
                {{ car.km }} KM
                <br>
                {{ car.location }}
            </p>
        </div>
        <div class="card-footer">
            {% if car.price %}
                <div class="d-flex align-items-center">
                    <span class="badge bg-danger me-2">PRECIO <br> OFERTA</span></h1>
                    <span class="card-subtitle text-danger font-weight-bold">{{ car.price|format_currency:car.currency }}</span>
                </div>
                <!-- <small class="text-muted">
                    Normal: {{ car.price|format_currency:car.currency }}
                </small> -->
            {% endif %}
        </div>
    </div>
</a>