{% extends "base.html" %}

{% block head_content %}
    <title>Old used cars | Store</title>
{% endblock%}

{% block container %}

<section class="pt-3 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-12 text-uppercase text-center">
                <h1>Store</h1>
            </div>
            <div class="col-12 text-left pt-3">
                <h5>Welcome to out store!!</h5>
            </div>
        </div>
        <div class="row mb-4 mt-3">
            <div class="row">
                {% if cars %}
                    {% include "pagination.html" %}
                {% endif %}
            </div>
            <div class="row">
                {% if cars %}
                    {% for car in cars %}
                        <div class="col-6 col-md-4 col-lg-3 mb-4">
                            {% include "cars/car_card.html" %}
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="col-12 pt-3 pb-3" style="min-height: 50vh;">
                        <h5>* No available cars</h5>
                    </div>
                {% endif %}
            </div>
            <div class="row">
                {% if cars %}
                    {% include "pagination.html" %}
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock %}
